<html>
<head>
    <title>Ejercicio 1</title>
    <style>
        body {
            margin: 0 auto;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 400px;
            background-color:whitesmoke;
            border: 5px solid black;
            }
    </style>
</head>
<body>
    <h1>Programacion Web</h1>
    <h1>Unidad 2</h1>
    <h2>Daniela Alejandra Oviedo Torres</h2>
    @RenderBody()
    <footer>Fecha @DateTime.Now.ToShortDateString()</footer>
</body>
</html>
