
@{ Layout = "_Layout"; }

<h1>Capturar datos del la suma</h1>
<form method="post" action="~/Home/Index">
    <fieldset>
        <legend>Datos:</legend>

        <label>Valor 1: </label><input name="n1" /><br />
        <label>Valor 2: </label><input name="n2" /><br />
        <input type="submit" value="Enviar" />
    </fieldset>
</form>